.white-color {
	color: white;
}

body {
    //background: url("../img/Connection-746661664-by-wlop.webp");
	background: url("https://dev.tencent.com/u/YXL-76/p/academic-kickstart/git/raw/master/static/img/Connection-746661664-by-wlop.webp");
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.media {
	background: rgb(256, 256, 256, 0.8);
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 45px;
	padding-bottom: 25px;
	border-radius: 20px;
    box-shadow: -2px -2px 6px rgb(200, 255, 255, 0.5);
}

.article {
	color: white;
}

article .article-metadata {
	color: white;
}

span[itemprop="name"] a {
	color: LightSkyBlue;
}

h1[itemprop="name"] {
	font-weight:bold;
	color: white;
}

img[alt="Netlify Status"] {
	margin-left:0px;
}

.article h1 {
	color: white;
}

.article h2 {
	color: white;
}

.article h3 {
	color: white;
}

.article h3 {
	color: white;
}

.article h4 {
	color: white;
}

.article h5 {
	color: white;
}

.article h6 {
	color: white;
}

.article a {
	color: LightSkyBlue;
}

.page-subtitle {
	color: white;
}

.badge-light {
	color: LightSkyBlue;
}

.article-style {
	color: white;
}

.aplayer-title {
	color: black;
}

.aplayer .aplayer-lrc p {
    color: #0e90d2 !important;
}


.kosugi-maru {
	font-family: 'Kosugi Maru', sans-serif !important;
}

.noto-sans-sc {
	font-family: 'Noto Sans SC', sans-serif !important;
}

.roboto-mono {
	font-family: 'Roboto Mono', monospace !important;
}

